<?xml version="1.0" encoding="UTF-8"?>
<config>
  <software>z/9fCPslGAndqTYzqu8uLg==</software>
  <ip>0r4K/IUFwBB42kEO6HO0bQ==</ip>
  <mac>X2i1eL5vmfk=</mac>
  <dataGeracaoStr>vYb8wJNXmazICtMGdpihJA==</dataGeracaoStr>
  <dataAtualStr>vYb8wJNXmayIrOB0qQcwig==</dataAtualStr>
  <diasValidade>0</diasValidade>
  <diasValidadeStr>Cp1Nc4cGefQ=</diasValidadeStr>
</config>